/* MOBILE FIRST */

:root {
    --first-color: #053c1f;
    --first-color-hover: #053c1fa6;
    --first-color-light: #d2e3cc;
    --white-color: #fbfbfb;

    --content-font: 'Open Sans', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: 0.938rem;

    --z-fixed: 100;

    --header-height: 4rem;

    --slider-width: 1300px;
    --slider-height: 600px;
}

@media screen and (min-width: 768px) {
    :root {
        --nav-name-font-size: 1rem;
        --normal-font-size: 1rem;
    }
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

#content {
    margin: var(--header-height) 0 0 0;
    font-family: var(--content-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: #fff;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    color: var(--first-color);
}

.header-toggle {
    font-size: 1.7rem;
    cursor: pointer;
}

/* NAV */
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--first-color);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: 0.5s;
        overflow-y: auto;
        max-width: 288px;
    }
}

.nav-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.nav-content {
    display: flex;
    flex-direction: column;
}

.nav-img {
    display: flex;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav-name {
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
}

.nav-item {
    margin-bottom: 2rem;
}

.nav-link {
    color: var(--first-color-light);
}

.nav-link:hover {
    color: var(--white-color);
}

/* SHOW MENU */
.show {
    left: 0;
}

/* ACTIVE LINK */
.active {
    color: var(--white-color);
}

/* DROPDOWN */
.dropdown-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-icon {
    font-size: 1.3rem;
    transition: 0.5s;
}

.dropdown-menu {
    margin: 1rem 0 0 1rem;
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-item {
    margin: 1rem 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .content {
        margin: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header-logo,
    .header-toggle {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-profile {
        flex-direction: row;
        text-align: initial;
        margin-bottom: 0;
    }

    .nav-img {
        width: 42px;
        height: 42px;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .nav-name {
        color: var(--first-color);
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }

    .nav-link {
        color: var(--first-color);
    }

    .nav-link:hover {
        color: var(--first-color-hover);
    }

    .active {
        color: var(--first-color-hover);
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: fixed;
        margin: -7px 0 0 0;
        background-color: var(--first-color-light);
        top: calc(var(--header-height) + 1rem);
        padding: 0.5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
    }

    .dropdown-item {
        margin: 0.5rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-right: auto;
        margin-left: auto;
    }
}

/* IMAGE SLIDER */
.slider {
    margin-top: 3rem;
    width: var(--slider-width);
    height: var(--slider-height);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slides input {
    display: none;
}

.slide {
    transition: 2s;
}

.slide img {
    width: var(--slider-width);
    height: var(--slider-height);
    object-fit: cover;
}

/* SLIDER MANUAL NAV */
.navigation-manual {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.navigation-manual .manual-btn ~ .manual-btn {
    margin-left: 45px;
}

.manual-btn {
    border: 2px solid rgba(255, 255, 255, 0.842);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.manual-btn:hover {
    background-color: rgba(255, 255, 255, 0.842);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}
